/* reset */
body,
h1,
h2,
h3,
input,
button,
p,
a,
ul {
    margin: 0;
    padding: 0;
}
h1,
h2,
h3 {
    font: inherit;
}
ul,
li {
    list-style: none;
}
a {
    color: inherit;
    text-decoration: none;
}
input {
    border: 0;
    font: inherit;
}
button {
    border: 0;
    background: none;
}

/* image replacement */
.a11y-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

/* css */
body {
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: white;
}

.mdl-container {
    background-color: white;
    width: 520px;

    border-radius: 10px;
    border: 1px solid var(--c-4-c-4-c-4, #c4c4c4);

    /* flex 중앙정렬 말고 margin으로 변경 */
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

/* 상단 */
.mdl-title {
    font-size: 16px;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 18px;

    position: relative;
}
.mdl-title:before,
.mdl-title:after {
    content: '';
    position: absolute;

    height: 16px;
    width: 1px;

    right: 24px;
    top: 0;

    background-color: #767676;
}
.mdl-title:before {
    transform: rotate(45deg);
}
.mdl-title:after {
    transform: rotate(-45deg);
}
.login-header::after {
    content: '';
    width: 100%;

    display: block;
    border-bottom: 1px solid #c4c4c4;
}

/* 로그인 form 영역*/
.wrap {
    /* box-shadow: inset 0 0 20px royalblue; */
    margin: 28px 24px;
}
.login-title {
    font-size: 20px;
}
.inpt {
    width: 456px;
    height: 50px;

    border-radius: 5px;
    border: 1px solid var(--c-4-c-4-c-4, #c4c4c4);
    color: #767676;
    padding-left: 16px;
}
.inpt:first-child {
    margin-top: 24px;
    margin-bottom: 10px;
}

/* 로그인 상태 유지 */
.hold-wrap {
    margin-top: 17px;
    margin-bottom: 21px;

    display: flex;
    align-items: center;
}

.txt-hide {
    overflow: hidden;
    width: 1px;
    height: 1px;
    clip-path: inset(50%);
}
.labl-hold::before {
    display: inline-block;
    content: '';
    width: 22px;
    height: 22px;
    margin-right: 10px;

    background-image: url('../img/icon-check.svg');
    vertical-align: -5px;
}
.labl-hold {
    color: var(--767676, #767676);
}

.inp-hold:checked + .labl-hold:before {
    background: url('../img/icon-checked.svg');
}

/* 로그인 버튼  */
.btn-login {
    width: 474px;
    height: 50px;

    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    color: white;

    border-radius: 5px;
    background: #2f80ed;
}

/* 회원가입,아이디/비밀번호 찾기 */
.join-find-container {
    color: var(--767676, #767676);
    font-size: 14px;
    font-weight: 400;

    margin-top: 20px;
    margin-bottom: 30px;

    display: flex;
    justify-content: center;
}
.spn-divide {
    margin: 0 12px;
}

/* 소셜로그인 영역 */
.social-login.line {
    color: var(--767676, #767676);
    font-size: 14px;

    margin-bottom: 10px;

    display: flex;
    flex-basis: 100%;
    align-items: center;
    justify-content: center;
}
.social-login.line::before {
    content: '';
    height: 1px;

    font-size: 0px;
    line-height: 0px;

    flex-grow: 1;
    margin: 0 13px;
    background: #c4c4c4;
}
.social-login.line::after {
    content: '';
    height: 1px;

    font-size: 0px;
    line-height: 0px;

    flex-grow: 1;
    margin: 0 13px;
    background: #c4c4c4;
}
/* 소셜로그인 링크 */
.link-social-login {
    width: 472px;
    height: 50px;

    text-align: center;
    color: var(--767676, #767676);
    font-size: 16px;

    margin-top: 10px;

    border-radius: 5px;
    border: 1px solid var(--767676, #767676);
    background-color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

[class^='icon']::before {
    content: '';
    width: 28px;
    height: 28px;
    margin: auto 12px;

    position: absolute;
    display: block;
    left: 0;
    background: url('../img/icon_sprites_retina.png');
    background-size: 91px 91px;
}
.link-social-login.icon-google {
    border: 1px solid var(--767676, #767676);
}
.link-social-login.icon-facebook {
    border: 1px solid #2d9cdb;
}
.link-social-login.icon-naver {
    border: 1px solid #00bf18;
}
.link-social-login.icon-kakao {
    border: 1px solid #f2c94c;
}

.link-social-login .icon-google::before {
    width: 28px;
    height: 28px;
    background-position: -10px -12px;
}
.link-social-login .icon-facebook::before {
    width: 28px;
    height: 28px;
    background-position: -56px -12px;
}
.link-social-login .icon-naver::before {
    width: 28px;
    height: 28px;
    background-position: -56px -58px;
}
.link-social-login .icon-kakao::before {
    width: 28px;
    height: 28px;
    background-position: -10px -58px;
}

/* lesson */
/* [class^="icon"]::before {
    position: absolute;
    display: block;
    content: "";
    width: 22px;
    height: 22px;
    background-image: url('images_login/icon_sprites_retina.png');
    background-size: 117px 84px;
}

.link-sns-login.icon-facebook {
    border: 1px solid #2D9CDB;
}

.link-sns-login.icon-naver {
    border: 1px solid #00BF18;
}

.link-sns-login.icon-kakao {
    border: 1px solid #F2C94C;
}

.icon-google::before {
    width: 22px;
    height: 22px;
    background-position: -52px -10px;
}

.icon-naver::before {
    width: 22px;
    height: 22px;
    background-position: -10px -10px;
}

.icon-kakao::before {
    width: 22px;
    height: 22px;
    background-position: -10px -52px;
}

.icon-facebook::before {
    height: 24px;
    width: 13px;
    background-position: -93px -10px;
} */
