/* reset */
h1,
h2,
ul,
p {
    margin: initial;
    padding: unset;
}
li {
    list-style-type: none;
}
h1,
h2 {
    /* 부모에 없으면 올라가고, 또올라가서, html root lv 또 없으면 브라우져 기본 제공 px 상속 */
    font-size: inherit;
    /* unset은 브라우져가 상속이 되느지 안되는지 확인 후, 되면 inherit 안되면 initial */
    font-weight: unset;
}

body {
    background-image: url(images/background.gif);
}
.wrapper {
    background-color: #ddd;
    width: 800px;
    margin: 0 auto;
}

div.header {
    background-image: url('./images/cover02.png');
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    color: white;
}
.header img {
    display: block;
    margin: 0 auto;
}
.header h1 {
    font-size: 50px;
    background-color: orange;
    width: fit-content;
    margin: 0 auto;
    /* h1이 움직인게 아니라, h1의 contents가 움직임 */
    /* text-align: center; */

    /* display: block; margin: 0 auto; -> 마당이 없다. 이미 꽉찼다. h1 한줄꽉채워져있으니 */
}
.header p {
    background-color: skyblue;

    border-top: 4px solid white;
    width: fit-content;
    padding: 10px 20px;
    margin: 0 auto;
}

.contents {
    background-color: #ddd;
}
.section {
    background-color: slateblue;
    margin: 20px;
    padding: 20px;
    background-image: url('images/icon-information.png');
    background-repeat: no-repeat;
    background-position: right 30px center;
}
.section.skill {
    background-image: url('images/icon-skills.png');
}
.section h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: salmon;
}
.list li {
    border-left: 5px solid #ddd;
    padding-left: 5px;
}

.footer {
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px 0;
}
